<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- camera link -->
    <link name="rgb_camera">
        <visual>
            <origin rpy="-1.57 0 -1.57" xyz="-0.1 0.125 0.15"/>
            <geometry>
                <mesh filename="package://arduinobot_description/meshes/pi_camera.STL" scale="0.01 0.01 0.01"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="-1.57 0 -1.57" xyz="-0.1 0.125 0.15"/>
            <geometry>
                <mesh filename="package://arduinobot_description/meshes/pi_camera.STL" scale="0.01 0.01 0.01"/>
            </geometry>
        </collision>
        <xacro:default_inertial mass="0.001"/>

    </link>

    <!-- joint -->

    <joint name ="rgb_camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link = "rgb_camera"/>
        <origin xyz="0 0.45 0.2" rpy="0 -0.5 1.57"/>
    </joint>
    
    <!-- gazebo -->

    <!-- <gazebo reference="camera_link">
        <material>Gazebo/Red</material>
        <sensor name="camera_sensor" type="camera">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>30</update_rate>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                Set TF frame name. If empty, defaults to link name
                <frame_name>cameral_link_optical</frame_name>
              </plugin>

        </sensor>
    </gazebo> -->
    
    <gazebo reference="rgb_camera">
        <sensor type="camera" name="rgb_camera">
            <always_on>true</always_on>
            <update_rate>30.0</update_rate>
            <camera name="rgb_camera">
                <horizontal_fov>1.15</horizontal_fov>
                <vertical_fov>0.71</vertical_fov>
                <image>
                    <width>2304</width>
                    <height>1296</height>
                    <format>R8G8B8</format>
                </image>
                <distortion>
                    <k1>0.0</k1>
                    <k2>0.0</k2>
                    <k3>0.0</k3>
                    <p1>0.0</p1>
                    <p2>0.0</p2>
                    <center>0.5 0.5</center>
                </distortion>
            </camera>
            <plugin name="gazebo_ros_camera" filename="libgazebo_ros_camera.so">
                <ros>
                    <remapping>~/image_raw:=image_raw</remapping>
                    <remapping>~/camera_info:=camera_info</remapping>
                </ros>
                <camera_name>rgb_camera</camera_name>
                <frame_name>rgb_camera</frame_name>
                <hack_baseline>0.2</hack_baseline>
            </plugin>
        </sensor>
      </gazebo>

</robot>